{% extends 'main/layout.html' %}

{% block title %}Actually cut the background.{% endblock %}

{% block content %}
<style>

	h1{
		display: flex;
		justify-content: center;
	}
	p{
		display: flex;
		justify-content: center;
	
	}
	button{
		margin-top: 40px;
		display: flex;
		justify-content: center;
		padding: 10px;
		border-radius: 15px;
		margin-left: 45%;
		margin-right: 45%;
		font-size: 30px;
	}
	
	
	form{
		font-size: 30px;
	}
	input{
		font-size: 30px;
	}
	
</style>
<div class="select_page">
	<div class="text_line">
		<h1>Загрузка фото</h1>
		<p>Загрузите вашу фотографию в ниже:</p>
	</div>
	<div class="select_photo">
		<img class = 'img' src ='choose.png' opacity = '0'>
		<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form }}
		<!-- <input type="file" id="picture_to_cut" name="picture_to_cut" accept="image/png, image/jpeg" /><br> -->
		<button class = "btn" type="submit">Cut</button>
	</form>
	<span>{{ error }}</span>
	</div>
	<div></div>
</div>

	
{% endblock %}