* {
	
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fadeInAnimation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}

@keyframes fadeOutAnimation {
	0% {
			opacity: 1;
	}
	100% {
			opacity: 0;
	}
}

body
{
	justify-content: center;
	align-items: center;
	animation: fadeInAnimation ease 1s;
}

.img 
{
	justify-content: center;
	margin: 20px;
	height: 45vh;
	border: 1px;
	border: 2px solid #252525;
	border-radius: 10px;
	box-shadow: 10px 5px 5px #808080;
	background-color: white;
	align-items: center;
	opacity: 0;
}

.select_photo
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20%;
	margin-right: 15%;
	align-items: center;
}

.edit_images
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.single_image
{
	margin: 1vw;
}

.edit_page{
	height: 95vh;
				width: 1500px;
				display: flex;
				flex-direction:column;
				font-size: 30px;
				margin-left: auto;
				margin-right: auto;
	border: 1px black solid;
	border-radius: 15%;
	
}

.done_image
{
	width: 31vw;
	border: 1px;
	border: 2px solid #252525;
	border-radius: 10px;
	box-shadow: 10px 5px 5px #808080;
	background-color: white;
}

.walter
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.shown
{
	opacity: 1;
	transition: opacity 0.5s ease;
}

.previeww
{
	position: absolute;
	width: 24vw;
	border: 1px;
	border: 2px solid #252525;
	border-radius: 10px;
	box-shadow: 10px 5px 5px #808080;
	background-color: white;
}

#nobg
{
	animation: fadeOutAnimation ease 5s;
	opacity: 0;
}

.select_page{
	height: 95vh;
				width: 1000px;
				display: flex;
				flex-direction:column;
				font-size: 30px;
				margin-left: auto;
				margin-right: auto;
	border: 1px black solid;
	border-radius: 15%;
	justify-content: space-between;
}

@media screen and (max-width: 1024px)
{
	.edit_images
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.done_image
{
	width: 70vw;
}

.previeww
{
	width: 70vw;
}

.start_page
{
	width: 95%
}

.select_page
{
	width: 110vw;
}

}